.gridColSpan2 {
  grid-column: span 2;
  height: 100%;
}

.gridRowSpan2 {
  grid-row: span 2;
  height: 100%;
  background: #838080;
}

.testimonialGrid {
  width: min(97%, 95vw);
  display: grid;
  flex-wrap: wrap;
  margin-inline: auto;
  gap: 2rem;
  grid-auto-columns: 1fr;
  padding: 2rem 0;

  grid-template-areas:
    "one"
    "two"
    "three"
    "four"
    "five";

  .image {
    padding: 0;

    .profile {
      border-radius: 50%;
    }
  }

  .testimonial {
    position: relative;
    background: #f4f4f4;
    border-radius: 3px;
    min-height: 22rem;
    color: var(--black);
    font-size: clamp(1.4rem, 2vw, 1.8rem);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 3rem;

    .title {
      position: absolute;
      top: 1rem;
      left: 2rem;
      h1 {
        font-size: clamp(1.2rem, 2vw, 2.2rem);
      }
    }

    &:nth-child(1) {
      grid-area: one;
    }
    &:nth-child(2) {
      grid-area: two;
    }
    &:nth-child(3) {
      grid-area: three;
    }
    &:nth-child(4) {
      grid-area: four;
    }
    &:nth-child(5) {
      grid-area: five;
    }
  }
}

@media screen and (min-width: 33em) {
  .testimonialGrid {
    grid-template-areas:
      "one one"
      "two three"
      "five five"
      "four four"
      "six six";
  }
}

@media screen and (min-width: 38em) {
  .testimonialGrid {
    grid-template-areas:
      "one one"
      "two five"
      "three five"
      "four four"
      "six six";
  }
}

@media screen and (min-width: 54em) {
  .testimonialGrid {
    grid-template-areas:
      "one one two"
      "three three five"
      "three three four";
  }
}

@media screen and (min-width: 75em) {
  .testimonialGrid {
    grid-template-areas:
      "one one two "
      "three three four"
      "three three three";
  }
}

.skillContent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  padding: 2.2rem 0;

  .skill {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    border-radius: 3px;
    padding: 1rem 2rem;
    transition: 150ms ease-in-out;

    .name {
      display: flex;
      align-items: center;
      gap: 1rem;
    }

    .tags {
      display: flex;
      align-items: center;
      gap: 1rem;
      justify-content: space-between;
    }
    .progressBarContainer {
      position: relative;
      width: 100%;
      height: 10px;

      .progressBarBackground {
        position: absolute;
        top: 0;
        left: 0;
        height: 8px;
        width: 100%;
        background-color: #bfbfbf; /* Set the background color of the progress bar */
        border-radius: 3px;
      }
      .progressBar {
        position: absolute;
        top: 0;
        left: 0;
        height: 8px;
        background-color: #707578; /* Set the color of the progress bar */
        border-radius: 3px;
      }
    }

    &:hover {
      background: var(--black);
      color: var(--white);
      .progressBar {
        background-color: #707578;
      }
    }
  }

  @media (max-width: 1490px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: 1110px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.categoryWrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem 2rem;

  @media (max-width: 1065px) {
    grid-template-columns: 1fr;
  }

  @media screen and (max-width: 768px) {
    padding: 2rem 0;
  }

  .content {
    padding: 2rem 1rem;

    @media screen and (max-width: 768px) {
    padding: 2rem 0.5rem;
  }

    .category {
      font-size: clamp(1.2rem, 2vw, 1.6rem);
      padding: 0.5rem 0.3rem;
    }
    .skillsWrapper {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
      .skills {
        border: var(--black) 2px solid;
        border-radius: 3px;
        padding: 1rem 2rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        text-align: left;
        .tag {
          display: flex;
          align-items: center;
          gap: 1rem;
        }
      }
    }
  }
}
