.wrapper {
  padding-bottom: 3rem;
  width: 100vw;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 1.2rem;
  border: #d8d8d8 1px solid;
  border-radius: 3px;
  grid-row: 2 span;
  p {
    font-size: clamp(0.8rem, 5vw, 2.6rem);
  }
}

.workWrapper {
  width: min(97%, 95vw);
  padding-block: 2rem;
  margin-inline: auto;
  display: grid;
  gap: 2rem;

  .overlay {
    width: 100%;
    height: 100%;
    position: relative;
    padding: 1.2rem 1.6rem;

    .awards {
      width: 100%;
      height: 16rem;
      position: absolute;
      top: -0.8rem;
      left: 0;
      z-index: 1;
      display: flex;
      justify-content: flex-end;
      flex-wrap: nowrap;
      transition: opacity 200ms ease-in-out;
      gap: 1rem;
      padding: 0 0.4rem;

      .awardItem {
        width: 10rem;
        height: 100%;
        background-repeat: no-repeat;
        background-size: contain;
      }

      @media screen and (max-width: 500px) {
        .awardItem {
          width: 8rem;
        }
      }
    }

    .overlayTitle {
      opacity: 1;
      transition: opacity 200ms ease;
      position: absolute;
      background: #2b2b2bd0;
      color: var(--white);
      width: fit-content;
      bottom: 0;
      left: 0;
      padding: 0.4rem 0.8rem;
      font-size: clamp(1.4rem, 2vw, 2rem);
      font-weight: 600;
      border-top-right-radius: 5px;
    }
  }

  .work {
    background: #eee;
    min-height: 45rem;
    position: relative;
    overflow: hidden;
    transition: 200ms ease-in-out;
    border-radius: 3px;
    color: rgb(146, 146, 146);

    &:hover,
    &:focus {
      background: #e0e0e0;
      color: #777777;

      .overlayTitle,
      .awards {
        opacity: 0;
      }

      .thumbnail {
        transform: scale(1.05);
      }

      .innerContents {
        opacity: 1;
      }
    }

    @media screen and (max-width: 500px) {
      min-height: 22rem;
    }
  }

  .thumbnail {
    width: 100%;
    height: 100%;
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: 150ms ease-in-out;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .innerContents {
    padding: 1.2rem 1.6rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: var(--white);
    opacity: 0;
    transition: opacity 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .summary {
    white-space: pre-line;
    overflow-y: auto;
  }

  .modalBtn {
    position: absolute;
    right: 1.6rem;
    bottom: 1.8rem;
    font-weight: 600;
    border: #eee 1px solid;
    color: #eee;
    border-radius: 5px;
    padding: 0.4rem 0.8rem;
    transition: 200ms ease-in-out;
    overflow: hidden; /* Add this line */
    white-space: nowrap; /* Add this line */
    span {
      transition: 200ms ease-in-out;
      display: block;
      cursor: pointer;
    }
    &:hover {
      background: #eee;
      color: #333;
      width: auto; /* Add this line */
      span {
        display: inline-block;
        margin-right: 2rem;
      }
    }
    &::after {
      content: "→";
      position: absolute;
      right: -20px;
      transition: all 0.3s ease-in-out;
    }
    &:hover::after {
      right: 10px;
    }
  }

  .fontL {
    font-size: 2rem;
    font-weight: 800;
    @media screen and (max-width: 500px) {
      font-size: 1.4rem;
    }
  }

  .fontM {
    font-size: 1.6rem;
    font-weight: 700;
    @media screen and (max-width: 500px) {
      font-size: 1.2rem;
    }
  }

  .fontS {
    font-size: 1.2rem;
    font-weight: 600;
    @media screen and (max-width: 500px) {
      font-size: 1rem;
    }
  }
}

@media screen and (min-width: 800px) {
  .workWrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

.modalWrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  overflow: hidden;
}
