.wrapper {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: 768px) {
    width: 100%;
    height: 50vh;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
