.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 3rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .icons {
    display: flex;
    gap: 3rem;
    cursor: pointer;
    @media screen and (max-width: 768px) {
      flex-direction: column;
    }

    .box {
      position: relative;

      &::after {
        content: attr(data-name);
        position: absolute;
        top: 90%;
        left: 50%;
        transform: translateX(-50%);
        width: fit-content;
        text-wrap: nowrap;
        color: var(--black);
        font-size: 1.4rem;
        transition: 150ms ease-in-out;
        opacity: 0;
      }

      &:hover::after {
        opacity: 1;
        top: 110%;
      }

      a {
        color: #333;
        padding: 2rem;
        border: 2px solid #333;
        border-radius: 15px;
        transition: 150ms ease-in-out;
        position: relative;
        display: block;
        svg {
          transition: 150ms ease-in-out;
          width: 3rem;
          height: 3rem;
          vertical-align: middle;
        }

        &:hover {
          background: #333;
          color: #eee;
          svg {
            scale: 1.2;
          }
        }
        @media screen and (max-width: 768px) {
          padding: 1.6rem;
          svg {
            width: 2.4rem;
            height: 2.4rem;
          }
        }
      }
    }
  }
}

.footer {
  position: absolute;
  font-size: 1.4rem;
  width: 100%;
  bottom: 0;
  border-top: 1px solid var(--black);
  padding: 1.4rem;
  color: var(--black);
  text-align: center;

  @media screen and (max-width: 768px) {
    padding: 0.6rem;
  }
}
