.cursor {
  position: fixed;
  width: 15px;
  height: 15px;
  background-color: #ebebeb;
  border-radius: 50%;
  pointer-events: none;
  z-index: 9999;
  mix-blend-mode: difference;

  //when mobile device, display none
  @media (max-width: 768px) {
    display: none;
  }
}
